[Unit]
Description=Sort dropbox camera uploads
Wants=dropbox.timer

[Service]
Type=oneshot
ExecStart=<path>/dropbox-pics-sorter -sync -token <token> -limit 100

[Install]
WantedBy=multi-user.targe
